<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/primaryBackground"
    app:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
    app:popupTheme="@style/ThemeOverlay.AppCompat.Dark">
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbarProductDetail"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?android:attr/actionBarSize"
        android:background="@color/actionbarBackground"
        app:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Dark" />
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_above="@+id/addToCartBTN"
        android:layout_below="@id/toolbarProductDetail">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical">
            <RelativeLayout
                android:orientation="horizontal"
                android:layout_width="fill_parent"
                android:layout_height="250.5dp"
                android:id="@+id/linearLayout2"
                android:layout_gravity="center">
                <ImageView
                    android:src="@android:drawable/ic_menu_gallery"
                    android:layout_centerHorizontal="true"
                    android:layout_height="250.5dp"
                    android:layout_width="match_parent"
                    android:id="@+id/productDetailImage"
                    android:baselineAlignBottom="true"
                    android:cropToPadding="true"
                    android:scaleType="fitCenter" />
            </RelativeLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayout3"
                android:paddingLeft="5dp"
                android:paddingTop="15dp">
                <TextView
                    android:text="Item Description"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:textSize="20dp"
                    android:id="@+id/productDetailDescription"
                    android:textAppearance="@android:style/TextAppearance.Material.Subhead"
                    android:gravity="left"
                    android:layout_marginLeft="12dp"
                    android:layout_marginRight="12dp" />
            </LinearLayout>
        </LinearLayout>
    </ScrollView>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout4"
        android:layout_alignParentBottom="true">
        <Button
            android:text="Add to cart"
            android:id="@+id/addToCartBTN"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@color/buttonColor"
            android:layout_centerHorizontal="true" />
    </LinearLayout>
</RelativeLayout>